<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('신청완료')">
    <meta charset="UTF-8">
    <title th:text="${title}">신청완료</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom"
     th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom"
        th:replace="/fragments/layout.html :: header">
</header>

<div class="container">
    <div class="card">
        <img src="/images/chunsik.jpeg" class="card-img-top mx-auto d-block"
             alt="chunsik image" style="width: 24rem; height: 26rem;">
        <div class="card-body">
            <h5 class="card-title text-center">배출 신청이 완료되었습니다 !</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">주문번호 : <span th:text="${order.orderId}"
                                                     th:value="${order.orderId}"></span>
            </li>
            <li class="list-group-item">주문자 : <span
                    th:text="${order.orderUserName}"
                    th:value="${order.orderUserName}"></span>
            </li>
            <li class="list-group-item">연락처 : <span
                    th:text="${order.orderUserPhone}"
                    th:value="${order.orderUserPhone}"></span></li>
            <li class="list-group-item">주문결과 :
                <div th:each="result : ${resultList}">
                    <span th:text="${result.wasteName}"></span>
                    <span th:text="${result.count}"></span>
                    <span th:text="${result.price}" class="price"></span>
                    <span th:text="${result.wasteDetail}"></span>
                </div>
            </li>
            <li class="list-group-item">총 주문 금액 : <span
                    class="price-sum"></span>
            </li>
        </ul>
        <div class="card-body">
            <a href="/" class="card-link">메인 화면으로</a>
            <a href="/order/item" class="card-link">추가 배출 신청하기</a>
        </div>
    </div>
</div>

<!--
    <img src="/images/chunsik.jpeg"
         class="rounded">
    <h3 class="card-text">배출 신청이 완료되었습니다 !</h3>

    <ul class="list-group">
        <li class="list-group-item">주문번호 : <span th:text="${order.orderId}"
                                                 th:value="${order.orderId}"></span>
        </li>
        <li class="list-group-item">주문자 : <span th:text="${order.orderUserName}"
                                                th:value="${order.orderUserName}"></span>
        </li>
        <li class="list-group-item">연락처 : <span
                th:text="${order.orderUserPhone}"
                th:value="${order.orderUserPhone}"></span></li>
        <li class="list-group-item">주문결과 :
            <div th:each="result : ${resultList}">
                <span th:text="${result.wasteName}"></span>
                <span th:text="${result.count}"></span>
                <span th:text="${result.price}" class="price"></span>
                <span th:text="${result.wasteDetail}"></span>
            </div>
        </li>
        <li class="list-group-item">총 주문 금액 : <span class="price-sum"></span>
        </li>
    </ul>
-->

    <!--    <div class="row">-->
    <!--        주문번호 : <span th:text="${order.orderId}"-->
    <!--                     th:value="${order.orderId}"></span>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        주문자 : <span th:text="${order.orderUserName}"-->
    <!--                    th:value="${order.orderUserName}"></span>-->
    <!--    </div>-->
    <!--    <div class="row">-->
    <!--        연락처 : <span th:text="${order.orderUserPhone}"-->
    <!--                    th:value="${order.orderUserPhone}"></span>-->
    <!--    </div>-->
    <!--</div>-->

    <!--<div class="container">-->
    <!--    <div class="result-info row">-->
    <!--        <h4>주문 결과</h4>-->
    <!--        <div th:each="result : ${resultList}" class="row">-->
    <!--            <span th:text="${result.wasteName}"></span>-->
    <!--            <span th:text="${result.count}"></span>-->
    <!--            <span th:text="${result.price}" class="price"></span>-->
    <!--            <span th:text="${result.wasteDetail}"></span>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--            총 주문 금액 : <span class="price-sum"></span>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--</div>-->

    <script>
        (function () {
            let resultInfo = document.querySelector(".result-info");
            let sum = Array.from(resultInfo.querySelectorAll(".price")).map(x => Number(x.innerText)).reduce((x, y) => x + y);
            document.querySelector(".price-sum").innerText = sum;
        })();
    </script>

    <footer class="container" th:fragment="foot">
        <p class="float-end"><a href="/">Back to top</a></p>
        <p>&copy; 2023 SnowTown. &middot;</p>
    </footer>

</body>
</html>