<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/layout.html :: head('마이 페이지')">
    <meta charset="UTF-8">
    <title th:text="${title}">마이페이지</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom" th:replace="/fragments/layout.html :: header">
</header>

<h1>주문 상세 페이지</h1>
            <p>주문내역 / 취소내역</p>
            주문번호
            <div th:text="${order.orderId}"></div>
            주문일시
            <div th:text="${order.orderDate}"></div>
            주문내역
            <div th:text="${order.itemName}"></div>
             배출예정일시
            <div th:text="${order.disposeDate}"></div>
            주문상태
            <div th:text="${order.orderStatus}"></div>
            수거상태
            <div th:text="${order.pickupStatus}"></div>
    </div>
    </div>
</div>
<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>

</body>
</html>