<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/layout.html :: head('배출신청')">
    <meta charset="UTF-8">
    <title>대형 폐기물 배출 신청</title>
</head>

<body>
<!--<div class="modal" id="myModal" tabindex="-1" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">공지</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p>블라블라</p>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-primary" id = "modal-today-close">today</button>-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<nav class="py-2 bg-light border-bottom"
     th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom"
        th:replace="/fragments/layout.html :: header">
</header>

<div class="list container">
    <h3>배출 가능 품목</h3>
    <!--        <div class="search">-->
    <!--            <form method="get">-->
    <!--    &lt;!&ndash;            <input name="searchKeyword" type="text" />&ndash;&gt;-->
    <!--                <input th:value="${param.searchValue}" type="sear" name="searchKeyword" placeholder="검색어 입력"/>-->
    <!--                <button type="submit">검색</button>-->
    <!--            </form>-->

    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>카테고리</th>
            <th>
                폐기물명
            </th>
            <th>
                가격
            </th>
            <th>
                규격
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x : ${list}" th:class="${x.category.categoryName}">
            <td th:text="${x.itemId}"></td>
            <td th:text="${x.category.categoryName}"></td>
            <td th:text="${x.itemName}"></td>
            <td th:text="${x.price}"></td>
            <td th:text="${x.itemDetail}"></td>
            <td>
                <label class="checkbox-inline">
                    <button type="button" class="btn btn-light select-button"
                            th:data-id="${x.itemId}"
                            th:data-category="${x.category.categoryName}"
                            th:data-name="${x.itemName}"
                            th:data-detail=" ${x.itemDetail}"
                            th:data-price="${x.price}">
                        추가
                    </button>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<div class="order container">
    <form id="orderForm" class="form-control" method="post">
        <h3>주문 정보</h3>
        <div class="row">
            <div class="mb-2 col-6">
                <label for="orderUserName" class="form-label">이름</label>
                <input type="text" class="form-control" id="orderUserName"
                       name="orderUserName" placeholder="XXX" required>
            </div>

            <div class="mb-2 col-6">
                <label for="orderUserPhone" class="form-label">전화번호</label>
                <input type="tel" class="form-control" id="orderUserPhone"
                       name="orderUserPhone" placeholder="전화번호" required>
            </div>
        </div>

        <div class="row">
            <div class="mb-2 col-6">
                <label for="postcode" class="form-label">우편번호</label>
                <div class="input-group">
                    <!--                    <input type="text" id="postcode" placeholder="우편번호">-->
                    <!--                    <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>-->
                    <input type="text" id="postcode" name="postcode"
                           class="form-control"
                           placeholder="우편번호" aria-label="우편번호=="
                           aria-describedby="button-addon-postcode">
                    <button class="btn btn-secondary" type="button"
                            id="button-addon-postcode"
                            onclick="execDaumPostcode()">우편번호 찾기
                    </button>
                </div>
            </div>

            <div class="mb-2 col-6">
                <label for="address1" class="form-label">주소</label>
                <input type="text" class="form-control" id="address1"
                       name="address1" placeholder="주소" required>
            </div>
        </div>

        <div class="row">
            <div class="mb-2 col-6">
                <label for="address2" class="form-label">상세주소</label>
                <input type="text" class="form-control" id="address2"
                       name="address2" placeholder="상세주소" required>
            </div>

            <div class="mb-2 col-6">
                <label for="address3" class="form-label">참고항목</label>
                <input type="text" class="form-control" id="address3"
                       name="address3" placeholder="참고항목" required>
            </div>
        </div>

        <div class="row">
            <div class="mb-2 col-8">
                <!--                <div th:text="${#dates.format(param.disposeDate, 'yyyy-MM-dd HH:mm')}">-->
                <label for="disposeDate" class="form-label">배출예정시간</label>
                <input type="datetime-local" class="form-control"
                       id="disposeDate"
                       name="disposeDate" placeholder="배출예정시간" required>
            </div>
        </div>

        <div class="row">
            <div class="mb-2 col-8">
                <label for="districtName" class="form-label">배출지역</label>
                <select id="districtName" class="form-select"
                        name="districtName">
                    <option value="행정동" selected>행정동</option>
                    <option value="스노우1동">스노우1동</option>
                    <option value="스노우2동">스노우2동</option>
                    <option value="스노우3동">스노우3동</option>
                    <option value="스노우4동">스노우4동</option>
                    <!--                    <option value="월계1동">월계1동</option>-->
                    <!--                    <option value="월계2동">월계2동</option>-->
                    <!--                    <option value="월계3동">월계3동</option>-->
                    <!--                    <option value="공릉1동">공릉1동</option>-->
                    <!--                    <option value="공릉2동">공릉2동</option>-->
                    <!--                    <option value="하계1동">하계1동</option>-->
                    <!--                    <option value="하계2동">하계2동</option>-->
                    <!--                    <option value="중계본동">중계본동</option>-->
                    <!--                    <option value="중계1동">중계1동</option>-->
                    <!--                    <option value="중계2.3동">중계2.3동</option>-->
                    <!--                    <option value="중계4동">중계4동</option>-->
                    <!--                    <option value="상계1동">상계1동</option>-->
                    <!--                    <option value="상계2동">상계2동</option>-->
                    <!--                    <option value="상계3.4동">상계3.4동</option>-->
                    <!--                    <option value="상계5동">상계5동</option>-->
                    <!--                    <option value="상계6.7동">상계6.7동</option>-->
                    <!--                    <option value="상계8동">상계8동</option>-->
                    <!--                    <option value="상계9동">상계9동</option>-->
                    <!--                    <option value="상계10동">상계10동</option>-->
                </select>
            </div>
        </div>


<div class="container result">
    <h4>배출 목록</h4>
    <table id="resultTable" class="table">
        <thead>
        <tr>
            <th>폐기물명</th>
            <th>규격</th>
            <th>수량</th>
            <th>가격</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="row mb-2">
    <button id="submitButton" class="btn btn-primary col-2 mx-auto"
            type="submit">신청하기
    </button>
</div>
</form>
</div>


    <script >
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })

        // const myModal = new bootstrap.Modal(document.getElementById('myModal'), options)

    (function () {
        selectItem();

        function selectItem() {
            let selectButtons = document.getElementsByClassName("select-button");
            for (let i = 0; i < selectButtons.length; i++) {
                selectButtons[i].addEventListener("click", function () {
                    const resultTable = document.getElementById("resultTable");
                    const rows = resultTable.querySelectorAll("tr[data-id='" + this.dataset.id + "']");

                    let isRowExist = false;
                    for (let j = 0; j < rows.length; j++) {
                        if (rows[j]) {
                            isRowExist = true;
                        }
                    }

                    if (isRowExist) {
                        const existRow = resultTable.querySelector("tr[data-id='" + this.dataset.id + "']");
                        let count = existRow.querySelector(".count-cell");
                        let price = existRow.querySelector(".price-cell");

                        if (Number(count.innerText) >= 5) {
                            alert("5개 이상 안됨 ㅋ")
                        } else {
                            count.innerText = Number(count.innerText) + 1;
                            price.innerText = Number(price.innerText) + Number(this.dataset.price);
                        }

                    } else {
                        const newRow = resultTable.querySelector("tbody").insertRow();
                        newRow.dataset.id = this.dataset.id;
                        const newCell0 = newRow.insertCell(0);
                        const newCell1 = newRow.insertCell(1);
                        const newCell2 = newRow.insertCell(2);
                        const newCell3 = newRow.insertCell(3);
                        const newCell4 = newRow.insertCell(4);

                        newCell0.innerText = this.dataset.name;
                        newCell0.classList.add("name-cell");
                        newCell1.innerText = this.dataset.detail ?? ""; // undefined 나 null 값은 공백 처리
                        newCell1.classList.add("detail-cell");
                        newCell2.innerText = 1;
                        newCell2.classList.add("count-cell");
                        newCell3.innerText = this.dataset.price;
                        newCell3.classList.add("price-cell");
                        const deleteButton = document.createElement("button");
                        deleteButton.innerText = "삭제";
                        deleteButton.classList.add("btn");
                        deleteButton.classList.add("btn-light");
                        deleteButton.classList.add("delete-button");
                        deleteButton.addEventListener("click", deleteItem);
                        newCell4.insertAdjacentElement("afterbegin", deleteButton);
                    }
                })
            }
        }

        function deleteItem() {
            const tr = this.closest("tr");
            tr.remove();
        }
    })();

    (function () {
        submitForm();

        function submitForm() {
            let submitButton = document.getElementById("submitButton");
            submitButton.addEventListener("click", function (e) {
                e.preventDefault();

                let resultRows = document.getElementById("resultTable").querySelectorAll("tbody tr");

                for (let i = 0; i < resultRows.length; i++) {
                    let row = resultRows[i];

                    row.querySelectorAll("input").forEach(x => x.remove());

                    const inputId = document.createElement("input");
                    inputId.type = "hidden";
                    inputId.name = "resultList[" + i + "].wasteId";
                    inputId.value = row.dataset.id;
                    row.append(inputId);

                    const inputName = document.createElement("input");
                    inputName.type = "hidden";
                    inputName.name = "resultList[" + i + "].wasteName";
                    inputName.value = row.querySelector(".name-cell").innerText;
                    row.append(inputName);

                    const inputDetail = document.createElement("input");
                    inputDetail.type = "hidden";
                    inputDetail.name = "resultList[" + i + "].wasteDetail";
                    inputDetail.value = row.querySelector(".detail-cell").innerText;
                    row.append(inputDetail);

                    const inputCount = document.createElement("input");
                    inputCount.type = "hidden";
                    inputCount.name = "resultList[" + i + "].count";
                    inputCount.value = row.querySelector(".count-cell").innerText;
                    row.append(inputCount);

                    const inputPrice = document.createElement("input");
                    inputPrice.type = "hidden";
                    inputPrice.name = "resultList[" + i + "].price";
                    inputPrice.value = row.querySelector(".price-cell").innerText;
                    row.append(inputPrice);
                }

                let orderForm = document.getElementById("orderForm");
                orderForm.submit();
            })
        }
    })();
</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("address3").value = extraAddr;

                } else {
                    document.getElementById("address3").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address1").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();
            }
        }).open();
    }
</script>

<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</body>
</html>