<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/layout.html :: head('수거요청')">
    <meta charset="UTF-8">
    <title th:text="${title}">수거요청</title>
</head>
<body th:align="center">
<nav class="py-2 bg-light border-bottom"
     th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom"
        th:replace="/fragments/layout.html :: header">
</header>
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3 class="fw-bold">수거요청</h3>
    </div>
</div>

<div class="d-flex justify-content-end">
    <form th:action="@{/board/list}" method="get">
        <select name="searchCondition">
            <option value="title">제목</option>
            <option value="writeName">작성자</option>
            <option value="contents">내용</option>
        </select>
        <input name="searchKeyword" type="text"/>
        <button type="submit" class="btn btn-secondary">검색</button>
    </form>
</div>
<!--<div class="d-flex justify-content-end">-->
<!--    <form th:action="@{/board/list}" method="get">-->
<!--        <select name="searchType">-->
<!--            <option value="all">전체</option>-->
<!--            <option th:selected="${#strings.equals(param.searchType, 'title')}" value="title">제목</option>-->
<!--            <option th:selected="${#strings.equals(param.searchType, 'writeName')}" value="writeName">작성자</option>-->
<!--            <option th:selected="${#strings.equals(param.searchType, 'contents')}" value="contents">내용</option>-->
<!--        </select>-->
<!--        <input th:value="${param.searchValue}" type="sear" name="searchValue" placeholder="검색어 입력"/>-->
<!--        <button type="submit" class="btn btn-secondary">검색</button>-->
<!--    </form>-->
<!--</div>-->
<div class="container">
    <table class="table">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        <tr th:each="board : ${list}">
            <td th:text="${board.boardNo}">
            <td><a th:href="@{/board/read(boardNo=${board.boardNo})}"
                   th:text="${board.title}"></a></td>
<!--            <td th:text="${board.getWriteName()}">-->
            <td th:text="${board.member.name}">
            <td th:text="${board.writeDate}">
            <td th:text="${board.cnt}">
        </tr>
    </table>

    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" th:href="@{/board/list(page=0)}">
                <span>&laquo;</span>
            </a>
        </li>
        <li class="page-item"
            th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}"
               th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}"
               th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}"
                    style="color: rebeccapurple"></strong>
        </li>
        <li class="page-item">
            <a class="page-link"
               th:href="@{/board/list(page = ${endPage - 1})}">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<br>
<form method="get" action="/board/insert"
      class="d-flex justify-content-md-center">
    <button type="submit" class="btn btn-primary">글쓰기</button>
</form>
<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>

</body>
</html>