<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('수정요청')">>
    <meta charset="UTF-8">
    <title th:text="${title}">수거요청</title>
</head>
<body th:align="center">
<nav class="py-2 bg-light border-bottom"
     th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom"
        th:replace="/fragments/layout.html :: header">
</header>
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3 class="fw-bold">수거요청</h3>
    </div>
</div>
<form th:action="update" method="post" enctype="multipart/form-data">
    <input type="hidden" name="boardNo" th:value="${boardUpdate.boardNo}">
    <div class="container">
        <table class="table">
            <tr>
                <td th:text="제목"></td>
                <td><input name="title" type="text" class="form-control"
                           th:value="${boardUpdate.title}" required></td>
            </tr>
            <tr>
                <td th:text="작성자"></td>
                <td><input type="text" name="writeName"
                           class="form-control-plaintext"
                           th:value="${boardUpdate.member.name}" readonly></td>
            </tr>
            <tr>
                <td th:text="내용"></td>
                <td><textarea name="contents" class="form-control h-25"
                              rows="10" th:value="${boardUpdate.contents}"
                              required></textarea></td>
            </tr>
            <tr>
                <div class="mb-3">
                    <td><label for="file" class="form-label">파일 선택</label></td>
                    <td><input type="file" name="file" id="file"></td>
                </div>
            </tr>
        </table>
    </div>
    <div class="d-flex justify-content-md-center">
        <button type="submit" class="btn btn-primary">게시글 수정</button>
    </div>


    <!--    제목:  <input type="text" name="title" th:value="${boardUpdate.title}">-->
    <!--    작성자: <input type="text" name="writeName" th:value="${boardUpdate.writeName}" readonly>-->
    <!--    작성자: <input type="text" name="userId" th:value="${boardUpdate.writeName}" readonly>-->
    <!--    내용: <input type="text" name="contents" th:value="${boardUpdate.contents}">-->
    <!--    &lt;!&ndash;수정일자: <input type="datetime-local" name="updateDate" th:value="${boardUpdate.updateDate}">&ndash;&gt;-->
    <!--    <input type="hidden" name="cnt" th:value="${boardUpdate.cnt}">-->
    <!--    <button class="btn btn-warning modify">수정</button>-->
    <!--    <input type="button" onclick="document.getElementById('updateForm').submit();">-->
</form>
<!--<script th:inline="javascript">-->
<!--    const updateSubmit = () => {-->
<!--      document.updateForm.submit();-->
<!--    }-->
<!--</script>-->
</div>
<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</body>
</html>