<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/layout.html :: head('수거요청')">>
    <meta charset="UTF-8">
    <title th:text="${title}">수거요청</title>

</head>


<body th:align="center">
<nav class="py-2 bg-light border-bottom"
     th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom"
        th:replace="/fragments/layout.html :: header">
</header>
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3 class="fw-bold">수거요청</h3>
    </div>
</div>
<div class="container">
    <!--    <form id="getForm">-->
    <table class="table">
        <tr>
            <td th:text="제목"></td>
            <td th:text="${board.title}"></td>
        </tr>
        <tr>
            <td th:text="작성자"></td>
            <td th:text="${board.writeName}"></td>
        </tr>
        <tr>
            <td th:text="내용"></td>
            <td><textarea th:text="${board.contents}" class="form-control-plaintext h-25" rows="10"></textarea></td>
        </tr>
        <tr>
            <td th:text="작성일"></td>
            <td th:text="${board.writeDate}"></td>
        </tr>
        <tr>
            <td th:text="조회수"></td>
            <td th:text="${board.cnt}"></td>
        </tr>
    </table>


    <div class="d-flex justify-content-md-center">
        <a th:href="@{${board.filepath}}">다운받기</a>
    </div>
    <div class="d-flex justify-content-md-center">
        <button class="btn btn-warning modify" onclick="update()">수정</button>
        <button class="btn btn-info remove">삭제</button>
    </div>
    <!--</form>-->
</div>
<div id="comment-write" class="d-flex justify-content-center">
    <input type="text" id="commentWriter" class="form-control-sm" placeholder="작성자">
    <!--    작성자 <span id="commentWriter" sec:authentication="principal.username"></span>-->
    <input type="text" id="comments" class="form-control-md" placeholder="댓글내용">
    <button id="comment-write-btn" class="btn btn-secondary" onclick="commentWrite()">댓글작성</button>
</div>

<!--<div id="comment-list" class="w-50 p-3 d-flex justify-content-center">-->
<div id="comment-list" class="card">
    <div class="card-header">
        댓글 목록
    </div>
    <ul class="list-group list-group-flush" th:each="comment: ${commentList}">
        <li class="list-group-item"><span th:text="${comment.commentId}" ></span><span th:text="${comment.commentWriter}"></span>
            <span th:text="${comment.comments}"></span><span th:text="${comment.commentCreatedTime}"></span></li>
    </ul>
<!--    <thead>-->
<!--    <table class="table table-hover table-bordered" style="">-->
<!--        <tr>-->
<!--            <th scope="col">댓글번호</th>-->
<!--            <th scope="col">작성자</th>-->
<!--            <th scope="col">내용</th>-->
<!--            <th scope="col">작성시간</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="comment: ${commentList}">-->
<!--            <td  th:text="${comment.commentId}"></td>-->
<!--            <td th:text="${comment.commentWriter}"></td>-->
<!--            <td th:text="${comment.comments}"></td>-->
<!--            <td th:text="${comment.commentCreatedTime}"></td>-->
<!--        </tr>-->
<!--        <tr th:if="${#lists.size(commentList) < 1}">-->
<!--            <td colspan="5">-->
<!--                <p class="nothing">작성된 댓글이 없습니다.</p>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

</div>

<br>
<div class="d-flex justify-content-center">
    <a th:href="@{list}">글 목록 보기</a>
</div>
<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2023 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
        <a href="#">Terms</a></p>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    const update = () => {
        console.log("수정 요청");
        const boardNo = [[${board.boardNo}]];
        location.href = "/board/update?boardNo=" + boardNo;
    }

</script>

<script th:inline="javascript">
    const commentWrite = () => {
        const commentWriter = document.getElementById("commentWriter").value;
        const comments = document.getElementById("comments").value;
        const boardNo = [[${board.boardNo}]];
        console.log("작성자:", commentWriter);
        console.log("댓글내용:", comments);

        $.ajax({
            type: "post",
            url: "/comment/save",
            data: {
                "commentWriter": commentWriter,
                "comments": comments,
                "boardNo": boardNo
            },
            success: function (res) {
                console.log("요청 성공", res);
                let output = "<table>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].boardNo + "</td>";
                    output += "<td>" + res[i].commentWriter + "</td>";
                    output += "<td>" + res[i].comments + "</td>";
                    output += "<td>" + res[i].commentCreatedTime + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('comments').value = '';
            },
            error: function (err) {
                console.log("요청 실패", err);
            }
        });
    }
</script>
</html>