<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('관리자 수거 상세 내역')">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">수거 상세 내역</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu-admin">
</nav>
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3  class="fw-bold">수거 신청 내역</h3>
    </div>
</div>
<div class="d-flex justify-content-end">
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>행정동</td>-->
<!--        <td>주문번호</td>-->
<!--        <td>배출예정일시</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="order:${detail}">-->
<!--        <td th:text="${order.orderUserName}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
    <div class="container">
<table class="table table-hover">
    <tbody class="text-center">
    <tr>
        <th>주문번호</th>
        <td>
            <p th:text="${detail.orderId}"></p>
        </td>
    </tr>
    <tr>
        <th>이름</th>
        <td>
            <p th:text="${detail.orderUserName}"></p>
        </td>
    </tr>
    <tr>
        <th>연락처</th>
        <td>
            <p th:text="${detail.orderUserPhone}"></p>
        </td>
    </tr>
    <tr>
        <th>주소</th>
        <td>
            <p th:text="${detail.address1}"></p>
        </td>
    </tr>
    <tr>
        <th>상세주소</th>
        <td>
            <p th:text="${detail.address2}"></p>
        </td>
    </tr>
    <tr>
        <th>행정동</th>
        <td>
            <p th:text="${detail.districtName}"></p>
        </td>
    </tr>
    <tr>
        <th>배출예정일</th>
        <td>
            <p th:text="${detail.disposeDate}"></p>
        </td>
    </tr>
<!--    <tr>-->
<!--        <th>주문내역</th>-->
<!--        <td>-->
<!--            <p th:text="${re}"></p>-->
<!--        </td>-->
<!--    </tr>-->

    <tr>
        <th>수거 상태</th>
        <td>
            <p><span th:text="${detail.pickupStatus}"></span> </p>
            <div>
                <form method="post" action="/admin/pickup/status.do">
                    <input th:value="${detail.orderId}" type="hidden" name="orderId"/>
                    <select name="pickupStatus">
                        <option value="수거대기">수거대기중</option>
                        <option value="수거완료">수거완료</option>
                        <option value="수거반려">수거반려</option>
                    </select>
                    <button type="submit" class="btn btn-primary">상태변경</button>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <th>메세지 전송</th>
        <td>
            <div>
                <form method="get" action="/admin/send.do">
                    <button type="submit" class="btn btn-secondary">메세지 전송</button>
                </form>
            </div>
        </td>
    </tr>

    </tbody>
</table>
        <div>
            <a href="list.do">목록</a>
        </div>
    </div>
</div>
</body>
</html>