<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('회원 비밀번호 찾기')">
  <meta charset="UTF-8">
  <title th:text="${title}">회원 비밀번호 찾기</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom" th:replace="/fragments/layout.html :: header">
</header>
<h1>회원 비밀번호 찾기</h1>

<form method="post">
  <div>
    <input type="text" name="userId" placeholder="아이디(이메일) 입력" required/>
  </div>
  <div>
    <input type="text"name="name" placeholder="이름 입력" required/>
  </div>
  <div>
    <button type="submit">비밀번호 초기화 요청</button>
  </div>
</form>

<footer class="container" th:fragment="foot">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2017–2023 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>
</html>