<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/layout.html :: head('회원가입 완료')">
    <meta charset="UTF-8">
    <title th:text="${title}">회원가입 완료</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom" th:replace="/fragments/layout.html :: header">
</header>
<div th:if ="${result eq true}">
    <div class="container">
        <div class="card">
            <img src="/images/chunsik.jpeg" class="card-img-top mx-auto d-block"
                 alt="chunsik image" style="width: 24rem; height: 26rem;">
            <div class="card-body">
                <h5 class="card-title text-center">회원가입이 완료되었습니다 !</h5>
            </div>
        </div>
    </div>
</div>
<div th:if ="${result eq false}">
    <div class="container">
        <div class="card">
            <img src="/images/chunsik2.jpg" class="card-img-top mx-auto d-block"
                 alt="chunsik image" style="width: 24rem; height: 26rem;">
            <div class="card-body">
                <h5 class="card-title text-center">회원가입에 실패했습니다 !</h5>
            </div>
        </div>
    </div>
</div>

<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</body>
</html>