<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('회원가입')">
    <meta charset="UTF-8">
    <title th:text="${title}">회원가입</title>
</head>

<body class="text-center">
<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom" th:replace="/fragments/layout.html :: header">
</header>

<main class="form-signin w-25 m-auto">
    <form method="post" action="/member/register">
        <h1 class="h3 mb-3 fw-normal">회원가입</h1>
    <div class="form-floating">
        <input type="email" name="userId" class="form-control" id="userId" placeholder="name@example.com"  required />
        <label for="userId">아이디(Email)</label>
    </div>
    <div class="form-floating">
        <input type="text" name="name" class="form-control" id="name" placeholder="name" required />
        <label for="name">이름</label>
    </div>
    <div class="form-floating">
        <input type="date" name="birth" class="form-control" id="birth" placeholder="birth" required />
        <label for="birth">생년월일</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="password" placeholder="password"required />
        <label for="password">비밀번호 입력</label>
    </div>
        <div class="form-floating">
            <input type="password" name="rePassword" class="form-control" id="rePassword" placeholder="rePassword" required />
            <label for="password">비밀번호 입력확인</label>
        </div>
    <div class="form-floating">
        <input type="tel" name="phone" class="form-control" id="floatingPhone" placeholder="Phone" required />
        <label for="floatingPhone">휴대전화번호</label>
    </div>
    <div>
        <div class="form-floating">
        <input type="text" class="form-control" id="postcode" name="postcode" placeholder="우편번호" required/>
            <label for="postcode">우편번호</label>
        </div>
        <div>
        <input type="button" class="btn btn-lg btn-primary" onclick="execDaumPostcode()" value="우편번호 찾기"/>
        </div>
        <div class="form-floating">
        <input type="text" class="form-control" id="address1" name="address1" placeholder="주소" required/>
            <label for="address1">주소</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="address2" name="address2" placeholder="상세주소" required/>
            <label for="address2">상세주소</label>
        </div>
        <div class="form-floating">
        <input type="text" class="form-control" id="address3" name="address3" placeholder="참고항목" required/>
        <label for="address3">참고항목</label>
        </div>
    </div>
    <div>
        <button class=" btn btn-lg btn-primary" type="submit">회원가입 완료</button>
    </div>
</form>
</main>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){

                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }

                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }

                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("address3").value = extraAddr;

                } else {
                    document.getElementById("address3").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address1").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();
            }
        }).open();
    }
</script>

<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</main>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>