<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('회원탈퇴')">
    <meta charset="UTF-8">
    <title th:text="${title}">회원탈퇴</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom"
     th:replace="/fragments/layout.html :: menu">
</nav>
<header class="py-3 mb-4 border-bottom"
        th:replace="/fragments/layout.html :: header">
</header>
<div class="container">

    <div>
        <h4 class="fw-bold" style="margin-bottom: 50px;">회원탈퇴</h4>
    </div>
    <div class="border" style="margin-bottom: 30px;">
        <p class="fw-bold" style="padding-top: 10px;">회원 탈퇴 전 아래 사항을 확인해주시기
            바랍니다.</p>

        <p>회원님의 개인정보는 모두 삭제되며 복구되지 않습니다. 단, 관계법령에 따라 회사가 보관하여야 하는 정보는 일정 기간 보관
            처리합니다.<br>
            부정한 목적으로 탈퇴 후 재가입을 한 경우에는 이용에 제한이 있을 수 있습니다.</p>
        <span>안내사항</span>
        <ul>
            <li>계약 또는 청약 철회 등에 관한 기록</li>
            <p>보존근거 : 전자상거래 등에서의 소비자보호에 관한 법률 보존기간 : 5년</p>
        </ul>
        <ul>
            <li>대금 결제 및 재화 등의 공급에 관한 기록</li>
            <p>보존근거 : 전자상거래 등에서의 소비자보호에 관한 법률 보존기간 : 5년</p>
        </ul>
        <ul>
            <li>소비자의 불만 또는 분쟁 처리에 관한 기록</li>
            <p>보존근거 : 전자상거래 등에서의 소비자보호에 관한 법률 보존기간</p>
        </ul>
    </div>
    <div style="margin-bottom: 30px;">
        <input class="form-check-input" type="checkbox" value=""
               id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            위 안내사항을 확인하였습니다.
        </label>
    </div>
    <div style="margin-bottom: 24px;">
        <form method="post" action="/member/withdraw">
            <input type="hidden" th:name="userId" th:value="${userId}">
            <button class="btn btn-danger" type="submit">탈퇴하기</button>
        </form>
    </div>
    <div style>
        <a class="link-primary" href="/member/mypage">이전 페이지로 이동</a>
    </div>
</div>

<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</body>
</html>