<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('회원 탈퇴 완료')">
    <meta charset="UTF-8">
    <title th:text="${title}">회원 탈퇴 완료</title>
</head>
<body>
<div class="container">
    <div class="card">
        <img src="/images/chunsik2.jpg" class="card-img-top mx-auto d-block"
             alt="chunsik image" style="width: 24rem; height: 26rem;">
        <div class="card-body">
            <h5 class="card-title text-center">회원 탈퇴 완료 !</h5>
        </div>
    </div>
</div>
</body>
</html>