<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout.html :: head('관리자 회원 관리')">
    <meta charset="UTF-8">
    <title th:text="${title}" >관리자 회원 관리</title>
</head>
<body>

<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu-admin">
</nav>
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3  class="fw-bold">관리자 회원 관리 - 상세 내역</h3>
    </div>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">ROLE_ADMIN 권한이 있습니다.</div>
<div class="d-flex justify-content-center">
<div class="detail" >

    <table class="table table-hover">
        <tbody class="text-center">
        <tr>
            <th>아이디</th>
            <td>
                <p th:text="${member.userId}"></p>
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                <p th:text="${member.name}"></p>
            </td>
        </tr>
        <tr>
            <th>연락처</th>
            <td>
                <p th:text="${member.phone}"></p>
            </td>
        </tr>
        <tr>
            <th>가입일</th>
            <td>
                <p th:text="${member.createdAt}"></p>
            </td>
        </tr>
        <tr>
            <th>이메일 인증</th>
            <td>
                <p th:text="${member.verifiedYn}"></p>
            </td>
        </tr>
        <tr>
            <th>관리자 여부</th>
            <td>
                <p th:text="${member.adminYn}"></p>
            </td>
        </tr>
        <tr>
            <th>회원 상태</th>
            <td>
                <p>
                    현재상태: <span th:text="${member.userStatus}"></span>
                </p>
                <div>
                    <form method="post" action="/admin/member/status.do">
                        <input th:value="${member.userId}" type="hidden" name="userId"/>
                        <select name="userStatus">
                            <option value="REQ">가입승인중</option>
                            <option value="ING">정상이용중</option>
                            <option value="STOP">정지중</option>
                        </select>
                        <button type="submit" class="btn btn-primary">상태변경</button>
                    </form>
                </div>
            </td>
        </tr>

        <tr>
            <th>비밀번호 초기화</th>
            <td>
                <div>
                    <form method="post" action="/admin/member/password.do">
                        <input th:value="${member.userId}" type="hidden" name="userId"/>
                        <input type="text" name="password"/>
                        <button type="submit" class="btn btn-secondary">비밀번호 초기화</button>
                    </form>
                </div>
            </td>
        </tr>


        </tbody>
    </table>
    <div>
        <a href="list.do">목록</a>
    </div>
</div>
</div>
</body>
</html>