<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout.html :: head('관리자 회원 관리')">
    <meta charset="UTF-8">
    <title th:text="${title}"  >관리자 회원관리</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu-admin">
</nav>
<div class="list">


<!--        <p class="total-count">전체 <span th:text="${totalCount}"></span>개</p>-->
        <div class="p-3 mb-2 bg-light rounded-1">
            <div class="d-flex justify-content-center">
                <h3  class="fw-bold">회원 관리</h3>
            </div>
        </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">ROLE_ADMIN 권한이 있습니다.</div>
    <div class="d-flex justify-content-end">
        <form th:action="@{/admin/member/list.do}" method="get">
            <select name="searchCondition">
                <option value="userId">아이디</option>
                <option value="name">이름</option>
                <option value="phone">연락처</option>
            </select>
            <input name="searchKeyword" type="text"/>
            <button type="submit" class="btn btn-secondary">검색</button>
        </form>
    </div>
    <div class="container">
        <table class="table">
        <thead class="text-center">
        <tr>
<!--            <th>행정동</th>-->
            <th>
                아이디(이메일)
            </th>
            <th>
                이름
            </th>
            <th>
                연락처
            </th>
            <th>
                이메일 인증 여부
            </th>
            <th>
                가입일
            </th>
            <th>
                관리자여부
            </th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="x : ${list}">
<!--            <td th:text="${x.address3}"></td>-->
            <td>
                <a th:text="${x.userId}"
                   th:href="${'detail.do?userId=' + x.userId}">
                    </a>
            </td>
            <td th:text="${x.name}"></td>
            <td th:text="${x.phone}"></td>
            <td>
                <p th:if="${x.verifiedYn}"></p>
                <p th:if="${x.verifiedYn eq false}"></p>
            </td>
            <td>
                <p th:text="${x.createdAt}"></p>
            </td>
            <td>
                <p th:if="${x.adminYn}"></p>
                <p th:if="${x.adminYn eq false}"></p>
            </td>
        </tr>
        </tbody>
    </table>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/member/list.do(page=0)}">
                    <span>&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/admin/member/list.do(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color: rebeccapurple"></strong>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/admin/member/list.do(page = ${endPage - 1})}" >
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</body>
</html>