<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('대형폐기물 관리')">
    <meta charset="UTF-8">
    <title th:text="${title}">대형 폐기물 관리</title>

</head>

<body th:align="center">
<nav class="py-2 bg-light border-bottom"
     th:replace="/fragments/layout.html :: menu-admin">
</nav>
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3 class="fw-bold">대형 폐기물 관리</h3>
    </div>
</div>

<div class="list">
    <div class="d-flex justify-content-center">
        <form method="post" action="/admin/item/add.do">
            <input value="" type="text" name="categoryName" placeholder="카테고리"
                   required>
            <input value="" type="text" name="itemName" placeholder="폐기물명"
                   required>
            <input value="" type="text" name="itemDetail" placeholder="규격">
            <input type="text" name="price" placeholder="가격" required>
            <!--            <input type="text" name="sortValue" placeholder="순서" required>-->
            <button type="submit">품목 추가</button>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">카테고리</th>
            <th scope="col">폐기물명</th>
            <th scope="col">규격</th>
            <th scope="col">가격</th>
            <th scope="col">수정</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x : ${list}">
            <td><input type="hidden" name="itemId" th:value="${x?.itemId}"
                       th:text="${x?.itemId}"/>
                <!--                <p th:text="${x?.itemId}"></p>-->
            </td>
            <td><input th:value="${x?.categoryName}" type="text"
                       name="categoryName"/></td>
            <td><input th:value="${x?.itemName}" type="text" name="itemName"/>
            </td>
            <td><input th:value="${x?.itemDetail}" type="text"
                       name="itemDetail"/></td>
            <td><input th:value="${x?.price}" type="text" name="price"/></td>
            <td>
                <button class="update-button">수정</button>
            </td>
            <td>
                <form name="deleteForm" method="post"
                      action="/admin/item/delete.do">
                    <input type="hidden" name="itemId"
                           th:value="${x?.itemId}"/>
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
        <tr th:if="${#lists.size(list) < 1}">
            <td colspan="5">
                <p class="nothing">내용이 없습니다.</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<script th:inline="javascript">
    (function () {
        let updateButtons = document.getElementsByClassName("update-button");
        for (let i = 0; i < updateButtons.length; i++) {
            updateButtons[i].addEventListener("click", updateItem);
        }

        function updateItem() {
            console.log("수정 버튼!");
            console.log(this);

            const itemRow = this.closest("tr");
            const itemId = itemRow.querySelector("input[name='itemId']").value;
            const categoryName = itemRow.querySelector("input[name='categoryName']").value;
            const itemName = itemRow.querySelector("input[name='itemName']").value;
            const itemDetail = itemRow.querySelector("input[name='itemDetail']").value;
            const price = itemRow.querySelector("input[name='price']").value;

            $.ajax({
                url: "/admin/item/update.do",
                type: "post",
                data: {
                    "itemId": itemId,
                    "categoryName": categoryName,
                    "itemName": itemName,
                    "itemDetail": itemDetail,
                    "price": price
                },

                /* 응답 확인 부분 */
                success: function (res) {
                    console.log(res);
                },

                /* 에러 확인 부분 */
                error: function (xhr) {
                    console.log(xhr);
                },
            });
        }
    })();
</script>

<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</body>
</html>