<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: head('행정동 관리')">
    <meta charset="UTF-8">
    <title th:text="${title}">행정동 관리</title>
</head>

<body th:align="center">
<nav class="py-2 bg-light border-bottom"  th:replace="/fragments/layout.html :: menu-admin">
</nav>
<!--<header class="py-3 mb-4 border-bottom" th:replace="/fragments/layout.html :: header-admin">-->
<!--</header>-->
<div class="p-3 mb-2 bg-light rounded-1">
    <div class="d-flex justify-content-center">
        <h3  class="fw-bold">행정동 관리</h3>
    </div>
</div>

<div class="list">
    <div class="d-flex justify-content-center">
        <form method="post" action="/admin/district/add.do">
            <input value="" type="text" name="districtName" placeholder="행정동명"
                   required>
            <button type="submit">행정동 추가</button>
        </form>
    </div>

        <div class="d-flex justify-content-center">

            <table class="table">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">행정동명</th>
                <th scope="col">수정</th>
                <th scope="col">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="x : ${list}">
                <td th:text="${x.districtCode}">
                    <input type="hidden" name="districtCode" th:value="${x.districtCode}"/>
                    <p th:text="${x.districtCode}"></p>
                </td>
                <td>
                    <input th:value="${x.districtName}" type="text" name="districtName"/>
                </td>
                <td>
                            <button class="updateDistrictButton">수정</button>
                </td>
                <td>
                        <form id="deleteForm" method="post"
                              action="/admin/district/delete.do">
                            <input type="hidden" name="districtCode"
                                   th:value="${x.districtCode}"/>
                            <button type="submit">삭제</button>
                        </form>
                </td>
            </tr>

            <tr th:if="${#lists.size(list) < 1}">
                <td colspan="5">
                    <p class="nothing">내용이 없습니다.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<script th:inline="javascript">
    (function () {
        let updateDistrictButtons = document.getElementsByClassName("updateDistrictButton");
        for (let i = 0; i < updateDistrictButtons.length; i++) {
            updateDistrictButtons[i].addEventListener("click", updateDistrict);
        }
        function updateDistrict() {
            const districtRow = this.closest("tr")
            const districtCode = districtRow.querySelector("input[name='districtCode']").value;
            const districtName = districtRow.querySelector("input[name='districtName']").value;

            $.ajax({
                url: "/admin/district/update.do",
                type: "post",
                data: {
                    "districtCode" : districtCode,
                    "districtName" : districtName
                },
                success: function (res) {
                    console.log(res);
                },
                error: function (xhr) {
                    console.log(xhr);
                },
            })
        }
    })();

</script>

<footer class="container" th:fragment="foot">
    <p class="float-end"><a href="/">Back to top</a></p>
    <p>&copy; 2023 SnowTown. &middot;</p>
</footer>
</body>
</html>